// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}
p {
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}
h2 {
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}
div {
  margin: 16px;
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}
form {
  display: flex;
}
